h2 T20 Score
= beautify_params 'Overview', @score.title
= beautify_params 'Team 1', @score.team1
= beautify_params 'Team 2', @score.team2
= beautify_params 'Match Status', @score.match_status
= beautify_params 'Run Rates', @score.runrates.html_safe
